<!-- messages -->
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-md-7 alert alert-important {% if message.tags == 'error' %}
        alert-danger
      {% elif message.tags %}
        alert-{{ message.tags }}
      {% endif %} alert-dismissible mb-0 fade show text-white"
      role="alert" data-delay="5500">
      <div class="d-flex">
        <div>
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-exclamation-circle me-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 3.34a10 10 0 1 1 -15 8.66l.005 -.324a10 10 0 0 1 14.995 -8.336m-5 11.66a1 1 0 0 0 -1 1v.01a1 1 0 0 0 2 0v-.01a1 1 0 0 0 -1 -1m0 -7a1 1 0 0 0 -1 1v4a1 1 0 0 0 2 0v-4a1 1 0 0 0 -1 -1" /></svg>
        </div>
        <div>{{ message }}</div>
      </div>
      <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>
<!-- end messages -->

<!-- JavaScript to handle auto-dismiss -->
<script>
  window.onload = function() {
    setTimeout(function() {
      var alerts = document.querySelectorAll('.alert');
      alerts.forEach(function(alert) {
        var delay = alert.getAttribute('data-delay');
        setTimeout(function() {
          var bsAlert = new bootstrap.Alert(alert);
          bsAlert.close();
        }, delay);
      });
    }, 0);
  }
</script>
